<h1> Guestbook </h1>

<%= form_for @message do |f| %>
  <div>
    <h3>Text</h3>
    <%= f.text_field :text %>
  </div>
  <div>
    <h3>Author</h3>
    <%= f.text_field :author %>
  </div>
  <%= f.submit "Create" %>
<% end %>

<hr>

<% @messages.each do | m | %>
	<p> <%= m.text %> </p>
	<p> <%= m.author %> </p>
	<p> <%= time_ago_in_words(m.created_at) %> ago </p>
	<button> <%= link_to 'Delete', message_path(m),
      method: :delete,
      data: { confirm: 'You want to do this?' } %>
  </button>
  <hr>
<% end %>
